<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437117649414-6v5cf978qro5s06kg9rgjfp3ik05dgkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437117649414-6v5cf978qro5s06kg9rgjfp3ik05dgkr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>437117649414-5dgvqalvbq5qp55o2iacvnnigm4n7hvv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhI_jJu0DGuHRQfIT0WX-5CUX65ZTeFuc</string>
	<key>GCM_SENDER_ID</key>
	<string>437117649414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>trendify-5ffe2</string>
	<key>STORAGE_BUCKET</key>
	<string>trendify-5ffe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437117649414:ios:3a881e71e26594f0a77987</string>
</dict>
</plist>